<main class="bs-docs-masthead" id="content" role="main" tabindex="-1">
    <div class="container">
        <div class="lead brand center">BounCA<div class="little-font">Key Management</div></div>
        <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline center">
            <img class="logo-header-icon" src="_images/BounCA-logo.png">
        </span>
        <p class="lead center">BounCA is a web-gui based X509.v3 certificates management tool</p>
        <p class="center">Set up Your Personal Key Infrastructure in less than 60 minutes</p>
        <p class="lead center"> <a href="getting_started.html" class="btn btn-outline-inverse btn-lg">BounCA Local</a>  <a href="https://app.bounca.org" class="btn btn-outline-inverse btn-lg">BounCA Cloud</a> </p>
        <p class="center"><a href="https://gitlab.com/bounca/bounca/" class="btn-inverse btn" target="_blank"> Get the Source Code</a></p>

    </div>
</main>
<!-- , BounCA! -->

<div class="bs-docs-featurette">
    <div class="container">
        <h2 class="bs-docs-featurette-title">BounCA Makes Key Management Easy</h2>
        <p class="lead">BounCA is a web-application. Don't hassle anymore with OpenSSL. Let you guide by the easy user interface and create your trusted encrypted communication network with your peers in a couple of minutes. Create a PKI, sign and revoke
            server and client X.509 v3 SSL certificates. With BounCA you can secure your web applications and OpenVPN connections without passwords, and secure access to your private cloud services
            with own HTTPS scheme. BounCA offers a REST-api for certificate generation, create a provisioning service for your Internet of Things devices was never so easy.</p>
        <hr class="half-rule">
        <div class="row">
            <div class="col-sm-4">
                    <img src="_images/create.png" alt="Sass and Less support" class="img-responsive">
                    <h3>Create</h3>
                    <p class="feature">BounCA lets you create root certificate authorities, create intermediate certificates and client, server certificates in an easy web application. Export your keys as PEMs, PKCS12 files for your mail clients, and web servers such as NGINX and Apache.</p>
            </div>
            <div class="col-sm-4">
                    <img src="_images/manage.png" alt="Responsive across devices" class="img-responsive">
                    <h3>Manage</h3>
                    <p class="feature">BounCA is a web based tool. Within your favorite browser, you will have a clear overview of outstanding certificates, and the ability to revoke them within one mouse click. Keep also track of the expiration of certificates by importing the expiry date in your calendar.</p>
            </div>
            <div class="col-sm-4">
                    <img src="_images/integrate.png" alt="Components" class="img-responsive">
                    <h3>Integrate</h3>
                    <p class="feature">With BounCA, you can access your CA via a web browser, RESTful API and it is also possible to export your PKI with command line scripts. Manage the authentication of your Internet of Things (IoT) devices and Hook BounCA to your deployment system to generate client and server certificates on the fly.</p>
            </div>
        </div>
        <hr class="half-rule">
        <p class="lead">BounCA is open source. It's hosted, developed, and maintained on GitLab.</p>
        <a href="https://gitlab.com/bounca/bounca" class="btn btn-outline btn-lg">View the GitLab project</a>
        <p class="lead">Don't want to host it yourself. BounCA is also available as a service.</p>
        <a href="https://app.bounca.org" class="btn btn-outline btn-lg">BounCA cloud</a>
    </div>
</div>


<div class="bs-docs-featurette">
    <div class="container">
        <h2 class="bs-docs-featurette-title">How does it work.</h2>
        <p class="lead">Download BounCA and Create your Root Certificate,  create one or more Intermediate Certificates and create server and client certificates.</p>
        <hr class="half-rule">
        <div class="row bs-docs-featured-sites">

        <div id="carousel-bounca-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-bounca-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-bounca-generic" data-slide-to="1"></li>
                <li data-target="#carousel-bounca-generic" data-slide-to="2"></li>
                <li data-target="#carousel-bounca-generic" data-slide-to="3"></li>
                <li data-target="#carousel-bounca-generic" data-slide-to="4"></li>
                <li data-target="#carousel-bounca-generic" data-slide-to="5"></li>
                <li data-target="#carousel-bounca-generic" data-slide-to="6"></li>
             </ol>

            <div class="carousel-inner carousel-bounca" role="listbox">
                <div class="item active">
                    <img src="_images/root_ca_dashboard.png" alt="root ca dashboard">
                        <div class="carousel-caption">
                            <h3>Root CA overview</h3>
                            <p>Create and manage your root certificates from the start screen</p>
                        </div>
                    </img>
                </div>
                <div class="item">
                    <img src="_images/root_certificate_info.png" alt="root certificate info">
                        <div class="carousel-caption">
                            <h3>Root Certificate Info</h3>
                            <p>Inspect your certificates by clicking on the info button</p>
                        </div>
                    </img>
                </div>
                <div class="item">
                    <img src="_images/validated_certificate_chain.png" alt="validated certificate chain">
                        <div class="carousel-caption">
                            <h3>Validated Certificate Chain</h3>
                            <p>Create Your Own Chain of Trust</p>
                        </div>
                    </img>
                </div>
                <div class="item">
                    <img src="_images/intermediate_certificate_overview.png" alt="intermediate certificate overview">
                        <div class="carousel-caption">
                            <h3>Intermediate Certificate Overview</h3>
                            <p>Create and manage your intermediate certificates from the Root CA screen</p>
                        </div>
                    </img>
                </div>
                <div class="item">
                    <img src="_images/adding_new_intermediate_certificate.png" alt="adding new intermediate certificate">
                        <div class="carousel-caption">
                            <h3>Add a new Intermediate Certificate</h3>
                            <p>Create your certicate in a couple of clicks with the help of prefilled forms</p>
                        </div>
                    </img>
                </div>
                <div class="item">
                    <img src="_images/client_server_certificate_overview.png" alt="client server certificate overview">
                        <div class="carousel-caption">
                            <h3>Provisioned Certificates Overview</h3>
                            <p>Manage your user and server SSL certificates</p>
                        </div>
                    </img>
                </div>
                <div class="item">
                    <img src="_images/revoked_certificate_overview.png" alt="revoked certificates overview">
                        <div class="carousel-caption">
                            <h3>Revoked Certificates Overview</h3>
                            <p>Expired and revoked certificates are clearly marked in the dashboard</p>
                        </div>
                    </img>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-bounca-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-bounca-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        </div>
        <hr class="half-rule"> <p class="lead"><a href="/getting_started.html">Start now and visit the install pages.</a></p>
    </div>
</div>


<div class="bs-docs-featurette">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2 class="bs-docs-featurette-title">Your Own Chain of Trust</h2>
                <hr class="half-rule">
                <p class="lead text-left">Key based authentication provides you a couple of interesting advantages</p>
                <ul class="lead text-left">
                    <li>No single point of failure: Decoupled and decentralized authentication management</li>
                    <li>You are in control of your complete trust chain: Spoofing nearly impossible as no third party is involved</li>
                    <li>Rocket fast authentication: SSL off-loading can be performed by your webservers</li>
                </ul>
                <hr class="half-rule">
                <p class="lead text-left">Use cases for a key based authentication infrastructure are</p>
                <ul class="lead text-left">
                    <li>Secure your internal REST micro-services and internal API's</li>
                    <li>Client-certificate based login for web-services and web applications</li>
                    <li>Secure access to your internal cloud services with your own HTTPS scheme</li>
                    <li>Secure your Internet of Things (IoT) network with your certificates and provision them via the BounCA API</li>
                </ul>
                <h2 class="bs-docs-featurette-title">Protect your Data, Protect your Communication, Protect your Business, get BounCA</h2>
            </div>
        </div>
    </div>
</div>
